body {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 90%;
}

ul {
    display: flex;
    flex-direction: row;
}

ul > ul {
    padding-bottom: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32pt;
}

h3 {
    margin-left:1em;
    font-size: 22pt;
}

h5 {
    font-size: 18pt;
}

h6 {
    font-size: 14pt;
}