body {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100vw;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

img {
    max-width: 75%;
    display: block;
}

article ul {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.row {
    flex-direction: row;
}

li > ul {
    padding-bottom: 1rem;
    list-style: circle;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 32pt;
    margin-left: 1rem;
}

h3 {
    margin-left:1rem;
    font-size: 22pt;
}

h5 {
    font-size: 18pt;
}

h6 {
    font-size: 14pt;
}